body
{
    background: white;
    color:black;
    text-align: justify;
    font-family: 'Arial';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: justify;
    margin: 0 auto;
    border: 0px solid #ddd;
}

#titulo
{
    color:white;
    background: darkslategrey;
    text-align: center;
    padding: 1em;
}

#texto2
{
    color:black;
    background: white;
    text-align: center;
}

#titulos
{
    color:white;
    background: black;
    text-align: center;
    padding: .1em;
    margin: 1em;
}